{% extends "auctions/layout.html" %} 


{% block body %}

  <!-- If user is owner of the most rate of the auction -->
  {% if auction.is_active == False and auction.aucrates.last.user_id.id == user.id %}
    <div class="text-center mt-3 bg-success text-white p-3">
      <h2>You are the winer of this auction!</h2>
      <h2> Congratulations! </h2>
    </div>
  {% endif %}
  <br>

  <!-- Image of stuff -->
  <div class="row">

    <div class="col-4">
      <img
      src="/static/auctions/images/{{auction.image.name}}"
      alt="Photo of object"
      class="float-start m-2" style="width: 400px;"/>
    </div>
    <!-- Lot's infomation -->
    <div class="col-3 p-2 m-2 d-flex flex-column">

      <h1>{{ auction.lot }}</h1>
      <h6>Starting price {{ auction.first_rate }} USD</h6>
      <br>
      <p>{{ auction.description }}</p>
      <br />
      {% if auction.is_active == False %}
        <h6 class="h5"><b>Sold for {{ auction.aucrates.last.current_rate }} USD</b></h6>
      {% else %}
        <h6 class="h5"><b>Highest rate  {{ auction.aucrates.last.current_rate }} USD</b></h6>
      {% endif %}
      
      {% if message %}
        <div>{{ message }}</div>
      {% endif %}

      {% if auction.is_active == True %}
        <!-- Rate form -->
        <br>
        <form
          action="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"
          method="post"  class="row">
          {% csrf_token %} 
          <div class="col-5">
            {{ rate_form.as_p }}
          </div>
          <div class="col-auto">
            <input type="submit" value="Make rate" class="btn btn-primary mb-3"/>
          </div>
        </form>
      {% endif %}  
    </div>

    <div class="col-4">
      <!-- If auction is active -->
      {% if auction.is_active == True %}
        <!-- Comment form -->
        <button class="m-3" data-bs-toggle="collapse" data-bs-target="#demo">Make comment</button>

        <div id="demo" class="collapse">
          <form
          action="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"
          method="post"  class="col">
          {% csrf_token %} 
          {{ comment_form.as_p }}
          <input type="submit" value="Leave a comment" class="btn btn-primary mb-3"/>
          </form>
        </div>
      {% endif %}
      <br>

      <!-- All comments -->
      {% if auction.auccomments.first %}
        <div class="m-3">
          <h4>Reviews:</h4>
          <div style="background-color: gainsboro;" class="rounded p-3">
            {% for comment in auction.auccomments.all %}
            <p> <b>{{ comment.user.username }}:</b>  <span>{{ comment.annotation }}</span> </p>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <div class="m-3">
          <p> No comments. </p>
        </div>
      {% endif %}
    </div>

  </div>
  <br>
  
  <!-- If auction is active -->
  {% if auction.is_active == True %}
      <!-- Watchlist form -->
      {% if wlist.first == None %}
        <form
          action="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"
          method="post" class="row">
          {% csrf_token %}
          <input type="hidden" name="watchlist_auction" value="{{ auction.id }}" />
          <div class="col-auto">
            <input type="submit" value="Add to watchlist" class="btn btn-primary mb-3"/>
          </div>
        </form>
      {% else %}
        <form
          action="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"
          method="post" class="row">
          {% csrf_token %}
          <input type="hidden" name="watchlist_auction" value="{{ auction.id }}" />
          <div class="col-auto">
            <input type="submit" value="Delete from watchlist" class="btn btn-primary mb-3"/>
          </div>
        </form>
      {% endif %}

      {% if auction.user_id.id == user.id and auction.is_active == True %}
        <form
        action="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"
        method="post">
        {% csrf_token %}
        <input type="hidden" name="close_auction" value="{{ auction.id }}" />
        <input type="submit" value="Close auction" />
        </form>
      {% endif %}
  {% endif %}

{% endblock %}
