{% extends "auctions/layout.html" %}


{% block body %}
    <h2 class="display-6 text-center">{{name}}</h2>

    <div class="row row-cols-5 justify-content-md-center">
    {% for auction in auctions %}
        <div class="col p-2 m-2 border text-bg-white bg-white">

            <a href="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"><h3 class="h3 text-center">{{ auction.lot }}</h3></a>

            <a href="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"><img class="mx-auto d-block img-fluid m-2" src="/static/auctions/images/{{auction.image.name}}" alt="Photo of object" ></a>

            <p class="text-center">{{ auction.description }}</p>
            <br>
            <h5 class="h5 text-center"><b>Price {{ auction.aucrates.last.current_rate }} USD</b></h5>

        </div>
    {% endfor %}
    </div>
{% endblock %}