{% extends "auctions/layout.html" %}


{% block body %}
    <h2 style="text-align: center;">Active Listings</h2>

    <div style="display:flex;">
    {% for auction in auctions %}
        <div style="width: 20%; border:solid 1px black; margin: 10px;">

            <a href="{% url 'auction_view' category_id=auction.category_id.id auction_id=auction.id %}"><h4 style="text-align: center;">{{ auction.lot }}</h4></a>

            <img src="/static/{{auction.image.name}}" alt="Photo of object" style="width: 150px">

            <p style="text-align: center;">{{ auction.description }}</p>
            <br>
            <h6 style="text-align: center;">Price {{ auction.aucrates.last.current_rate }}</h6>

        </div>
    {% endfor %}
    </div>
{% endblock %}